.footer {
    display: flex;
    flex-shrink: 0;
    height: 483px;
    background-color: #000000;
    justify-content: center;
    width: 1920px;
}

.container__footer {
    width: 1545px;
    display: flex;
    flex-direction: column;
}




.rom1 {
    display: flex;
    flex-direction: row;
    padding-top: 66px;
    margin-bottom: 150px;
}

.adresse {
    color: #ffffff;
    display: flex;
    width: 278px;
    font-size: 24px;
    font-family: 'helveticaneuecyrroman';
    font-style: normal;
    flex-direction: column;
}

.texte__adresse {
    margin-bottom: 45px;
}


.link__colum__1,
.link__colum__2,
.link__colum__3 {
    font-size: 24px;
    font-family: 'helveticaneuecyrroman';
}

.colum__1 {
    margin-right: 150px;
}

.colum__2 {
    margin-right: 140px;
}

.colum__3 {
    margin-right: 475px;
}

.rom2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-right {
    padding-right: 70px;
}

.footer__logo {
    width: 208px;
    height: 47px;
}

.social {
    display: flex;
    flex-direction: row;
    width: 206px;
    justify-content: space-between;
    align-items: flex-end;
}

.social__list {
    display: flex;
    justify-content: center;
}

.rom1 {
    display: flex;
    flex-direction: row;
    padding-top: 66px;
    margin-bottom: 150px;
}

